<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
  <%- include("navbar")-%>
    <div class="mvv-container" style="margin-top: 2opx;">
        <div class="head">
            <h1>ABOUT US</h1>
        </div>
        <div class="con">
            <h3>How We Started ?</h3>
            <p>
                One night, I suddenly developed a fever. I couldn't sleep properly, and when I ventured outside, I found that the medical stores were open, but they wouldn't provide any medication without a prescription. Even the clinic close to my house was closed.
                With no other options available at that time, I had to wait until morning. Once morning arrived, I went to the hospital, obtained a prescription from a doctor, and began my recovery over the following days. This experience prompted me
                to recognize the need for a solution. I conceived the idea of creating a website that could connect people in need of medical attention during emergencies. This way, individuals could virtually consult with doctors, eliminating the necessity
                of physically visiting a clinic. With this concept in mind, we embarked on the development process. After a period of diligent work, we successfully launched our website, named "Hello B+," on September 1st, 2023.
            </p>
        </div>
        <div class="mvv-block">
            <div class="image">
                <img src="/assets/aim.jpg" alt="aim" width="100px" height="100px" />
            </div>
            <div class="content">
                <h3>Our Vision</h3>
                <p>
                    our vision is to redefine healthcare consultancy. We envision a world where medical expertise transcends borders, connecting individuals globally with exceptional doctors and esteemed hospitals. Our platform empowers patients to make informed decisions
                    by accessing diverse medical opinions and treatment options. Collaboration and innovation thrive as professionals share knowledge across specialties, advancing patient care collectively. We're committed to personalized healthcare journeys,
                    matching patients with specialized doctors, while fostering trust through transparency. Our enduring partnerships guide patients through various health stages, ensuring consistent support. Language, distance, and resource barriers
                    are dismantled, ensuring equitable healthcare access. Ultimately, we aspire to create a future where healthcare is universally accessible, patients are informed advocates, and medical excellence knows no limits.
                </p>
            </div>
        </div>
        <div class="mvv-block">
            <div class="image"> <img src="/assets/network.jpg" alt="network" width="100px" height="100px" /></div>
            <div class="content">
                <h3>Our Network</h3>
                <p> we are revolutionizing the way patients access medical expertise. Our expansive network comprises a carefully curated selection of distinguished doctors and world-renowned hospitals, unified under a single platform. This innovative approach
                    empowers patients, granting them access to an extensive spectrum of medical opinions and treatment options transcending geographical limitations. Our network extends globally, ensuring that patients can tap into expertise from various
                    corners of the medical world. We take pride in fostering connections that prioritize patients' personalized needs. Every doctor and hospital within our network is rigorously evaluated for their commitment to excellence, assuring patients
                    of the highest quality care. [Your Website Name] stands as a beacon of trust, facilitating informed healthcare decisions and providing solace on every individual's path to well-being.

                </p>
            </div>
        </div>
        <div class="mvv-block">
            <div class="image"> <img src="/assets/doctorss.jpg" alt="doctor" width="100px" height="100px" /></div>
            <div class="content">
                <h3>Expert Doctors</h3>
                <p>Our esteemed network boasts a constellation of board-certified specialists who bring years of expertise to the forefront. Covering a multitude of medical domains, our doctors offer patients a diverse spectrum of specialized care. With
                    a rich history of successful diagnoses, treatment strategies, and compassionate interactions, our doctors inspire confidence in their abilities. Keeping pace with the latest advancements, they remain well-versed in the forefront of medical research.</p>
            </div>
        </div>
    </div>
    <div class="lead">
        <h1>Customer's Review</h1>
    </div>
    <div class="middle">

        <div class="container">
            <div class="slide-container active">
                <div class="slide ">
                    <i class="fas fa-quote-right icon"></i>
                    <div class="user">
                        <img src="/assets/m2.jpg" alt="review">
                        <div class="user-info">
                            <h3>Emily Johnson</h3>
                            <div class="stars">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text">"I can't thank the network enough for connecting me with a specialist who understood my unique medical needs. The personalized attention I received made a significant difference in my recovery."</p>
                </div>
            </div>
            <div class="slide-container">
                <div class="slide">
                    <i class="fas fa-quote-right icon"></i>
                    <div class="user">
                        <img src="/assets/m1.jpg" alt="review">
                        <div class="user-info">
                            <h3>Michael Smith</h3>
                            <div class="stars">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text">"I had a positive experience interacting with the network's medical professionals. Their expertise and compassionate approach made me feel confident in the care I was receiving."</p>
                </div>
            </div>
            <div class="slide-container">
                <div class="slide">
                    <i class="fas fa-quote-right icon"></i>
                    <div class="user">
                        <img src="/assets/w1.jpg" alt="review">
                        <div class="user-info">
                            <h3>Olivia Clark</h3>
                            <div class="stars">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p class="text">"I am incredibly grateful for the guidance and support I received from the network's doctors. They took the time to explain my options and helped me make informed decisions about my health."</p>
                </div>
            </div>
            <div id="next" class="fas fa-chevron-right" onclick="next()"></div>
            <div id="pre" class="fas fa-chevron-left" onclick="pre()"></div>

            
          </div>
          
        </div>
        <script>
          let slides = document.querySelectorAll('.slide-container');
          let index = 0;
          
          function next() {
                slides[index].classList.remove('active');
                index = (index + 1) % slides.length;
                slides[index].classList.add('active');
            }

            function pre() {
                slides[index].classList.remove('active');
                index = (index - 1 + slides.length) % slides.length;
                slides[index].classList.add('active');
            }
        </script>
        <%- include("footer")-%>
      </body>
      
</html>
