<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HELLO B +ve</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
    <script src="https://use.fontawesome.com/1b10875e66.js"></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>

    <link rel="stylesheet" href="css/style.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap");
    </style>
  </head>
  <body style="overflow-x: hidden;">
    <%- include("navbar")-%>
    <h1 class="heading" id="how">HOW  TO  USE  OUR  WEBSITE</h1>
    <div id="carouselExampleDark" class="carousel carousel-dark slide brd">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="img/1200px-BMS_College_of_Engineering.svg-removebg-preview.png" class="d-block w-100  im" alt="...">
          
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="img/3.png" class="d-block w-100 im" alt="...">
         
        </div>
        <div class="carousel-item">
          <img src="img/c1.png" class="d-block w-100 im" alt="...">
         
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p class="intr">"Only doctor is blessed with the magical powers to treat a life,<br>to bring health into our lives</p>
    <p class="int2">and to be there with us when we have lost all the hopes"</p>
    <section id="feature">
      <div class="row">
        <div class="fbox col-lg-2 col-sg-6" style="position: relative;left: 1px;">
          <i class="fa fa-phone fa-4x ico" aria-hidden="true"></i>
          <h6 class="headn">contact us</h6>
          <p class="subt">you can contact us for any types of queries related our website our customer service is available 24*7 and our team is happy to serve you at any time</p>
        </div>
        <div class="fbox col-lg-2 col-sg-6">
          <i class="fa fa-check fa-4x ico" aria-hidden="true"></i>
          <h6 class="headn">checking</h6>
          <p class="subt">We guarantte that doctors working here are highly qualified and  they are proficient in the respective field they are servicing</p>
        </div>
        <div class="fbox col-lg-2 col-sg-6">
          <i class="fa fa-lock fa-4x ico" aria-hidden="true"></i>
          <h6 class="headn">Encrypted</h6>
          <p class="subt">Here the discusion between you and doctor you selected is highly encrypted and not accesible for any third parties</p>
        </div>
        <div class="fbox col-lg-2 col-sg-6">
          <i class="fa fa-user-secret   fa-4x ico" aria-hidden="true"></i>
          <h6 class="headn">Secured</h6>
          <p class="subt">Our websites is higly secured so ur data and apyments are highly secured</p>
        </div>
        <div class="fbox col-lg-2 col-sg-6">
          <i class="fa fa-gift fa-4x ico" aria-hidden="true"></i>
          <h6 class="headn">reward</h6>
            <p class="subt"> you will get hello doctor kit for your every subscription </p>
          
        </div>
      </div>
    </section>
    <h1 class="heading">Major  diseases</h1>
    <table>
      <tr>
        <td><a href="" style="color: black;"><img src="img/cough-removebg-preview (1).png" alt="" class="cu">
          <h6 class="caps">Cold and Cough</h6></a></td>
        <td><a href="" style="color: black;"><img src="img/toothace-removebg-preview.png" alt="" class="cu" style="height:200px;">
          <h6 class="capst">Tootache</h6></a></td>
        <td><a href="" style="color: black;"><img src="img/594-5942791_counselling-icon-hd-png-download-removebg-preview.png" alt="" class="cu" style="height:200px;">
          <h6 class="capst">Mental Health Conselling</h6></a></td>
      </tr>
      <tr>
        <td><a href="" style="color: black;"><img src="img/5047900-200.png" alt="" class="cu" style="height:150px;">
          <h6 class="capsd">Diarreah</h6></a></td>
        <td><a href="" style="color: black;"><img src="img/eyeflu-removebg-preview.png" alt="" class="cu" style="height:150px;">
          <h6 class="capse">Eyeflu</h6></a></td>
        <td><a href="" style="color: black;"><img src="img/fever-removebg-preview.png" alt="" class="cu" style="height:150px;">
          <h6 class="capsf">Fever</h6></a></td>
      </tr>
    </table>
    
          <br>
    
      
    <%- include("footer")-%>
   
    
  </body>
</html>
