<link rel="stylesheet" href="/css/doctor_navbar.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="./doctor_profile.html">
      <img src="/assets/logo.png" alt="logo" height="50" width="auto" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/doctor/<%= encodeURIComponent(doctorName) %>">
            Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/doctor/<%= encodeURIComponent(doctorName) %>/notifications">
            Notifications
          </a>
        </li>
      </ul>
      <button class="btn btn-danger ml-2 sign-up-button" id="logout-button">Log out</button>
    </div>
  </div>
</nav>
<script>
  const logoutButton = document.getElementById('logout-button');

// Add a click event listener to the logout button
logoutButton.addEventListener('click', () => {
  // Redirect to the '/doctor' route
  window.location.href = '/doctor';
});
</script>