<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />

  <title>Doctor Notifications</title>
</head>
<link rel="stylesheet" href="/css/doctor_notifications.css" />
<body>
    <!-- Navbar will be included dynamically here -->
   
 <%- include('doctor_navbar.ejs') %>
  <div class="notifcontainer">
    <h1>Notifications</h1>
    <ul class="notification-list" id="notification-list">
      <!-- Notifications will be added dynamically here -->
      <% notifications.forEach((notification) => { %>
        <li class="notification">
          <h3><%= notification.title %></h3>
          <p><%= notification.content %></p>
        </li>
      <% }); %>
    </ul>
  </div>
  
  <div class="pagination">
    <button class="pagination-button" id="previous-page">Previous</button>
    <button class="pagination-button" id="next-page">Next</button>
  </div>
  
</body>
</html>
