.logot {
  font-family: 'Righteous', cursive;
  font-size: 48px;
}

/* Other styles... */

/* Center content in feature boxes */
.fbox {
  text-align: center;
  padding: 20px;
}

/* Center content in disease cards */
.cu {
  height: 200px;
  border: none;
  transition: transform 0.3s;
}
.cu:hover{
  
  transform: translateY(-5px);
}

.caps,
.capst,
.capsd,
.capse,
.capsf {
  position: relative;
  text-align: center;
}
.caps:hover{
  color: red;
}
.capst:hover{
  color: red;
}
.capsd:hover{
  color: red;
}
.capse:hover{
  color: red;
}
.capsf:hover{
  color: red;
}

/* Center text in major diseases section */
.heading {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 1rem;
  font-family: 'Lumanosimo', cursive;
}

/* Center introduction section */
.intro {
  text-align: center;
  color: #279eff;
  font-size: larger;
  margin-top: 0;
  margin-bottom: 0;
}
.int2 {
  text-align: center;
  font-size: larger;
  color: #000;
  margin-top: 0;
}

/* Adjust spacing and alignment for disease cards */
.row {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.col-md-4 {
  margin-bottom: 20px;
}

/* Adjust spacing for feature boxes */
#feature {
  padding-top: 7%;
  padding-bottom: 7%;
}

/* Adjust spacing for major diseases section */
#diseases {
  padding-top: 7%;
  padding-bottom: 7%;
}
